@media (prefers-color-scheme: dark) {

	:root {
		--base-background-color: #000028;
		--heading-color: #000028;
		--text-color: #F1B2CE;
		--accent-color: #FF0070;
		--accent-bg-color: #FF0070;
		--main-color: #DB00FF; 
		--active-outline-color: #FF007066;
		--outline-color: #FF007066;

		--cover-image: url(./images/cover-image-dark.png)
	}
} 

.decorated-zone.theme_dark {
	--base-background-color: #000028;
	--heading-color: #000028;
	--text-color: #F1B2CE;
	--accent-color: #FF0070;
	--accent-bg-color: #FF0070;
	--main-color: #DB00FF;
	--active-outline-color: #FF007066;
	--outline-color: #FF007066;

	--cover-image: url(./images/cover-image-dark.png)
}
