@media (prefers-color-scheme: dark) {
	
    :root {
        --base-background-color: #000028;
        --heading-color: #000028;
        --text-color: #f1b2ce;
        --accent-color: #ff0070;
        --accent-bg-color: #ff0070;
        --main-color: #db00ff;
        --active-outline-color: #ff007066;
        --outline-color: #ff007066;

        --cover-image: url(./images/cover-image-dark.png);
    }

	.decorated-zone:not(.theme_light) .header__record-light-container {
		visibility: visible;
	}
}

.decorated-zone.theme_dark {
    --base-background-color: #000028;
    --heading-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --accent-bg-color: #ff0070;
    --main-color: #db00ff;
    --active-outline-color: #ff007066;
    --outline-color: #ff007066;

    --cover-image: url(./images/cover-image-dark.png);
}

.theme_dark .page .header__record-light-container {
    visibility: visible;
}
