@media (prefers-color-scheme: light) {
	
    :root {
        --base-background-color: #fff1f7;
        --heading-color: #353430;
        --text-color: #353430;
        --accent-color: #353430;
        --accent-bg-color: #ff8dcb;
        --main-color: #ffc2e6;
        --active-outline-color: #ff007066;
        --outline-color: #32312d66;

        --cover-image: url(./images/cover-image-light.png);
    }
}

.decorated-zone.theme_light {
    --base-background-color: #fff1f7;
    --heading-color: #353430;
    --text-color: #353430;
    --accent-color: #353430;
    --accent-bg-color: #ff8dcb;
    --main-color: #ffc2e6;
    --active-outline-color: #ff007066;
    --outline-color: #32312d66;

    --cover-image: url(./images/cover-image-light.png);
}
