@media (prefers-color-scheme: light) or (prefers-color-scheme: no-preference) {

	:root {
		--base-background-color: #FFF1F7;
		--heading-color: #353430;
		--text-color: #353430;
		--accent-color: #353430;
		--accent-bg-color: #FF8DCB;
		--main-color: #FFC2E6;
		--active-outline-color: #FF007066;
		--outline-color: #32312D66;

		--cover-image: url(./images/cover-image-light.png)
	}

} 

.theme_light .page {

	--base-background-color: #FFF1F7;
	--heading-color: #353430;
	--text-color: #353430;
	--accent-color: #353430;
	--accent-bg-color: #FF8DCB;
	--main-color: #FFC2E6;
	--active-outline-color: #FF007066;
	--outline-color: #32312D66;

	--cover-image: url(./images/cover-image-light.png);
}

