/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.decorated-zone {
	background-image: var(--cover-image);
	background-color: var(--base-background-color);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.page {
	position: relative;
	font-family: 'IBM Plex mono', sans-serif;
	display: flex;
	flex-direction: column;
	padding: var(--page-offset);
	gap: 80px;
	overflow: auto;
	color: var(--text-color);
}

@media (width <= 400px) {

	.page {
		gap: 50px;
	}
} 

/* ------------ HEADER -------------- */

.header {
	position: relative;
	display: grid;
	grid-template-rows: 1fr min-content 1fr;
	/* inline-size: 100%; */
	block-size: calc(100vh - 2 * var(--page-offset));
	/* margin-block-end: var(--page-offset); */
}
/* 
@media (max-width: 400px) {

	.header {
		block-size: calc(100vh - 2 * var(--page-offset));
	}
}  */

.header__main-heading {
	margin-inline-start: -14px;
}

@media (max-width: 400px) {

	.header__main-heading {
		margin-inline-start: 0;
	}
} 

.header__theme-menu {
	color: var(--accent-color);
	padding-bottom: 28px;
	display: flex;
    justify-content: flex-end;
	flex-direction: row;
}

	@media (max-width: 768px) {

		.header__theme-menu {
			flex-direction: column-reverse;
			align-items: end;
		}
	} 


	.header__theme-menu-list {
		display: flex;
		inline-size: 100%;
		block-size: 100%;
		justify-content: center;
		gap: 12px;
	}
	
	@media (max-width: 768px) {
	
		.header__theme-menu-list {
			flex-direction: column;
			align-items: flex-end;
		}
	} 

.main-heading-title {
	font-size: clamp(6.6875rem, -4.375rem + 23.0469vw, 10.375rem);
	font-weight: 700;
	line-height: clamp(5.5rem, -3.5rem + 18.75vw, 8.5rem);
	color: var(--main-color);
	text-shadow: 2px 2px 0 var(--accent-shadow-color);
}

@media (width < 768px) {

	.main-heading-title {
		font-size: clamp(6.4375rem, 5.6026rem + 3.5623vw, 7.3125rem);
		line-height: clamp(5.3125rem, 4.4776rem + 3.5623vw, 6.1875rem);
	}
} 

.header__phrase-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header__phrase-content {
	inline-size: 50%;
}

@media (width <= 400px) {

	.header__phrase-content {
		inline-size: 100%;
	}
} 

.accent-bg {
	background-color: var(--accent-bg-color);
}

.header__theme-menu-button {
	appearance: none;
	color: inherit;
	padding: 2px 13px;
	line-height: 1;
	border: 1px solid transparent;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
} 

.header__theme-menu-button_active {
	border-color: currentColor;
}

.header__nav-section {
	inline-size: 33.3%;
}

.header__record-light-container {
	display: flex;
	justify-content: flex-end;
	align-self: flex-start;
	align-items: center;
}

@media (max-width: 768px) {

	.header__record-light-container {
		align-self: auto;
	}
} 

.header__record-light {
	display: inline-block;
	font-size: 0;
	inline-size: 9px;
	block-size: 9px;
	border-radius: 50%;
	background-color: currentColor;
	box-shadow: 0 0 4px 2px currentColor;
	margin-inline: 10px;
}

.header__record-text {
	text-transform: uppercase;
	color: currentColor;
	line-height: 25px; 
}

.theme_light .page .header__record-light-container {
	visibility: hidden;
}

.content {
	flex-grow: 1;
	border: 1px solid red;
}

/* ------------ MAIN -------------- */

.main-content {
	display: flex;
	flex-direction: column;
	gap: 80px;
}

@media (width < 768px) {

	.main-content {
		gap: 50px;
	}
} 

.two-columns-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: var(--gap);
	grid-auto-flow: column;
}

.two-columns-grid__end-column {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.three-columns-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--gap);
	grid-auto-flow: column;
}

.three-columns-grid-one-column-width {
	width: calc(var(--three-columns-grid-one-column-width));
}

.section__heading {
	margin-bottom: var(--gap);
}

@media (width < 768px) {

	.three-columns-grid-one-column-width {
		width: 100%;
	}
} 

/* ------------ GALLERY -------------- */

.gallery {

}

.gallery__subheading {
	margin-block-end: 20px;
}

@media (width < 400px) {

	.section__subheading {
		margin-block-end: 10px;
	}
}

.images {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-areas:   
	"sunset sunset ice-cream"
	"tape books ice-cream"
	"tape street street";
	gap: var(--gap);
	grid-template-columns: repeat(3, calc(var(--three-columns-grid-one-column-width)));
	/* grid-template-rows: 25.79% 31.25% 42.46%; */
	grid-auto-flow: row;
}

/* @media (width < 769px) {

	.images {
		grid-template-columns: 33.28% 33.43% 33.28%;
		grid-template-rows: 25.94% 31.08% 42.97%;
	}

} */

.images__item {
	display: block;
	object-position: center;
	object-fit: cover;
	width: 100%;
    height: 100%;
}

.images__sunset {
	grid-area: sunset;
}

.images__ice-cream {
	grid-area: ice-cream;
}

.images__tape {
	grid-area: tape;
}

.images__books {
	grid-area: books;
}

.images__street {
	grid-area: street;
}

/* ------------ FOOTER -------------- */

.footer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	block-size: calc(100vh - 2 * var(--page-offset));
}

/* ------------ COMMON STYLES -------------- */

.top-corner-mark:before {
	content: '';
	position: absolute;
	inset-inline-end: 0;
	inset-block-start: 0;
	inline-size: 25px;
	block-size: 25px;
	border-inline-end: 1px solid currentColor;
	border-block-start: 1px solid currentColor;
	color: var(--accent-color);
}

.bottom-corner-mark:after {
	content: '';
	position: absolute;
	inset-inline-start: 0;
	inset-block-end: 0;
	inline-size: 25px;
	block-size: 25px;
	border-inline-start: 1px solid currentColor;
	border-block-end: 1px solid currentColor;
	color: var(--accent-color);
}

.inline-link {
	color: currentColor;
	text-shadow: 2px 2px 0 var(--accent-bg-color);
}

.secondary-heading,
.article-title {
	font-size: inherit;
	font-weight: 700;
	color: var(--heading-color);
}

.article-subtitle {
	font-size: inherit;
	font-weight: 400;
	color: var(--heading-color);
}

.secondary-accent-heading {
	font-size: inherit;
	font-weight: 700;
	color: var(--accent-color);
}

@media (width < 768px) {

	.section .section__content {
		display: flex;
		flex-direction: column;
		gap: var(--gap);
	}
} 

@media (width <= 768px) {

	.section .section__content.three-columns-grid {
		display: flex;
		flex-direction: column;
		gap: var(--gap);
	}
} 

@media (width < 400px) {

	.section .images.section__content {
		gap: 10px;
	}
} 

.section__subheading {
	margin-block-end: 20px;
}

@media (width < 800px) {

	.section__subheading {
		margin-block-end: 10px;
	}
} 