.decorated-zone {
    background-color: var(--base-background-color);
    background-image: var(--cover-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: var(--transition-value);
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: var(--page-offset);
    overflow: auto;
    color: var(--text-color);
    font-family: 'IBM Plex mono', serif;
}

@media (width <= 400px) {

    .page {
        gap: 50px;
    }
}

/* ------------ HEADER -------------- */

.header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    block-size: calc( 100vh - 2 * var(--page-offset) );
}

.header__main-heading {
    margin-inline-start: -20px;
	text-shadow: 4px 4px 0 var(--accent-shadow-color);
}

.header__theme-menu {
	
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 28px;
    color: var(--accent-color);
}

.header__record-light-container {
	position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
	visibility: hidden;
}

.header__record-light-container:after {
	content: '';
    display: flex;
    margin-inline: 10px;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px currentColor;
    font-size: 0;
    background-color: currentColor;
    inline-size: 9px;
    block-size: 9px;
}

.header__record-text {
    line-height: 25px;
    text-transform: uppercase;
}



.header__theme-menu-list {
    display: flex;
    justify-content: center;
    gap: 12px;
    inline-size: 100%;
    block-size: 100%;
}

.main-heading-title {
    color: var(--main-color);
    font-weight: 700;
    /* font-size: clamp(6.6875rem, -4.375rem + 23.0469vw, 10.375rem); */
	font-size: calc(clamp(6.667rem, 13.653vw + 0.955rem, 8.722rem));
    /* line-height: clamp(5.5rem, -3.5rem + 18.75vw, 8.5rem); */
	line-height: calc(clamp(5.5rem, 11.07vw + 0.869rem, 7.167rem));
}

.header__phrase-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__phrase-content {
    inline-size: 50%;
}

/* ------------ HEADER THEME MENU-------------- */

.header__theme-menu-button {
    border: none;
    border-block-end: 1px solid transparent;
    padding: 2px 13px;
    outline: 1px solid transparent;
    color: inherit;
    font-family: inherit;
    line-height: 1;
    background-color: transparent;
    transition: var(--transition-value);
    cursor: pointer;
    appearance: none;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
    outline: 1px solid var(--outline-color);
}

.header__theme-menu-button:focus-visible:not(.header__theme-menu-button_active) {
    border-color: currentColor;
}

.header__theme-menu-button_active {
    outline-color: currentColor;
}

.header__nav-section {
    inline-size: 33.33%;
}

@media (max-width: 768px) {

    .header__theme-menu {
        flex-direction: column-reverse;
        align-items: end;
    }

    .header__theme-menu-list {
        flex-direction: column;
        align-items: flex-end;
    }

    .header__record-light-container {
        align-self: auto;
    }
}

@media (width < 768px) {

    .main-heading-title {
		font-size: calc(clamp(6.444rem, 1.018vw + 6.232rem, 6.667rem));
		line-height: calc(clamp(5.278rem, 1.018vw + 5.066rem, 5.5rem));
    }
}

@media (width <= 400px) {

    .header__phrase-content {
        inline-size: 100%;
    }

    .header__main-heading {
        margin-inline-start: 0;
    }
}

/* ------------ MAIN -------------- */

.main-content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.grid {
	display: grid;
    gap: var(--gap);
}

.two-columns-grid {
    grid-template-columns: 1fr 2fr;
	gap: 12px;
}

.three-columns-grid {
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.three-columns-grid-one-column-width {
    width: calc(var(--three-columns-grid-one-column-width));
}

@media (width < 800px) {

    .two-columns-grid {
        gap: var(--gap);
    }
}

@media (width < 768px) {

    .main-content {
        gap: 50px;
    }

    .three-columns-grid-one-column-width {
        width: 100%;
    }
}

/* ------------ GALLERY -------------- */

.gallery__subheading {
    margin-block-end: 20px;
}

.images {
    position: relative;
    display: grid;
    grid-template-columns: repeat(
        3,
        calc(var(--three-columns-grid-one-column-width))
    );
    grid-auto-flow: row;
    grid-template-areas:
        'sunset sunset ice-cream'
        'tape books ice-cream'
        'tape street street';
    gap: var(--gap);
    width: 100%;
}

.images__item {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.images__sunset {
    grid-area: sunset;
}

.images__ice-cream {
    grid-area: ice-cream;
}

.images__tape {
    grid-area: tape;
}

.images__books {
    grid-area: books;
}

.images__street {
    grid-area: street;
}

@media (width < 400px) {

    .gallery__subheading {
        margin-block-end: 10px;
    }
}

@media (width < 700px) {

	.gallery .images {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/* ------------ FOOTER -------------- */

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: calc(100vh - 2 * var(--page-offset));
}

.footer__main-heading {
	text-shadow: 2px 2px 0 var(--accent-shadow-color);
}

/* ------------ COMMON STYLES -------------- */

.top-corner-mark:before {
    content: '';
    position: absolute;
    border-inline-end: 1px solid currentColor;
    border-block-start: 1px solid currentColor;
    color: var(--accent-color);
    inset-inline-end: 0;
    inset-block-start: 0;
    inline-size: 25px;
    block-size: 25px;
}

.bottom-corner-mark:after {
    content: '';
    position: absolute;
    border-inline-start: 1px solid currentColor;
    border-block-end: 1px solid currentColor;
    color: var(--accent-color);
    inset-inline-start: 0;
    inset-block-end: 0;
    inline-size: 25px;
    block-size: 25px;
}

.inline-link {
    border-block-end: 1px solid transparent;
    color: currentColor;
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--accent-bg-color);
    transition: var(--transition-value);
}

.inline-link:hover {
    border-color: currentColor;
}

.inline-link:focus-visible {
    outline: 1px solid currentColor;
}

.secondary-heading {
	color: var(--heading-color);
    font-weight: 700;
    font-size: inherit;
}

.accent-color {
	color: var(--accent-color);
}

.font-weight-thin {
	font-weight: 400;
}

.paragraph + .paragraph {
	margin-block-start: 20px;
}

.accent-bg {
    background-color: var(--accent-bg-color);
}

.section-heading-offset {
    margin-bottom: var(--gap);
}

.section-subheading-offset {
    margin-block-end: 10px;
}

@media (width <= 900px) {

    .grid.three-columns-grid {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }
}

@media (width < 700px) {

	.grid.two-columns-grid {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }
}

@media (width < 400px) {

    .gallery__one-columns-layout {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

	.paragraph:not(:last-child) {
		margin-block-end: 10px;
	}
}


